In [1]:
import pandas as pd

In [46]:
df = pd.read_csv('FB.csv')
df

      Date  Month  Year  Day    Open    High     Low   Close       Vol
0        1     12  2015    2  104.85  107.15  104.50  107.12  22781868
1        2     12  2015    3  107.00  107.92  105.79  106.07  24429063
2        3     12  2015    4  106.42  106.85  103.35  104.38  23236423
3        4     12  2015    5  104.76  107.73  104.11  106.18  21224521
4        7     12  2015    1  106.48  106.83  104.66  105.61  15474890
...    ...    ...   ...  ...     ...     ...     ...     ...       ...
1501    16     11  2021    2  343.82  346.65  340.87  342.96  18187498
1502    17     11  2021    3  344.22  347.30  340.10  340.77  13594625
1503    18     11  2021    4  339.50  342.46  335.30  338.69  17477599
1504    19     11  2021    5  342.86  352.10  339.90  345.30  26480108
1505    22     11  2021    1  348.90  353.83  340.51  341.01  27047952

[1506 rows x 9 columns]

In [6]:
x = float(df[0:1]['Close'])
x

107.12

In [25]:
red_days = 0
green_days = 0
prev = float(df[0:1]['Close'])
for index,day in df.iterrows():
    close = day['Close']
    if close > prev:
        green_days += 1
    else:
        red_days += 1
    prev = close

In [26]:
print(green_days, red_days)

793 713

In [33]:
prev = float(df[0:1]['Close'])

longest_red_streak = 0
longest_green_streak = 0

green_streak = 0
red_streak = 0

greens = []
reds = []

for index,day in df.iterrows():
    close  = day['Close']
    
    if close > prev:
        if red_streak > 0:
            reds.append(red_streak)
        red_streak = 0
        green_streak += 1
        if green_streak > longest_green_streak:
            longest_green_streak = green_streak
    else:
        if green_streak > 0:
            greens.append(green_streak)
        green_streak = 0
        red_streak += 1
        if red_streak > longest_red_streak:
            longest_red_streak = red_streak
    
    prev = close
    
print(longest_red_streak, longest_green_streak)

7 7

In [35]:
tot = 0
for g in greens:
    tot += g
avg = tot / len(greens)
print(avg)

2.0025252525252526

Volatility

In [38]:
change = 0
total = 0
prev = float(df[0:1]['Close'])
for index,day in df.iterrows():
    close  = day['Close']
    change = abs(close - prev)
    total += change
    prev = close

In [42]:
val = total/len(df)
val

2.6732244355909685

In [51]:
dfx = df[df['Month'] == 12]

In [55]:
vol_month = 0
max_vol = 0
for i in range(12):
    change = 0
    total = 0
    dfx = df[df['Month'] == i+1]
    prev = float(df[0:1]['Close'])
    for index,day in df.iterrows():
        close  = day['Close']
        change = abs(close - prev)
        total += change
        prev = close
    vol = total /len(dfx)
    if vol > max_vol:
        max_vol = vol
        vol_month = i
print(max_vol, vol_month)

35.007617391304336 1